<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petrock Taxi</title>
    <link rel="icon" href="../img/logo.jpeg">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/driver-login-register.css">
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg  navbar-dark" style="background-color: black;" >
            <div class="container-fluid">
              <a class="navbar-brand" href="index.html"><img src="../img/logo.png" alt="" style="height: 50px; width: 110px"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active " href="#">Serviços</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Notícias</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Sobre
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Localização</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Contactos</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Sobre Nós</a></li>
                    </ul>
                  </li>
    
                </ul>
               
                <div class="dropdown" style="right:10px;">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                     <img src="../img/user.png" alt="" style="height: 30px;">
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li ><a class="dropdown-item" href="user-login-register.html">Cliente</a></li>
                   <li><a class="dropdown-item" href="driver-login-register.html">Motorista</a></li>       
                  </ul>
                </div>
             
                
              </div>
            </div>
          </nav>
    </header>






    <div id="carouselExampleIndicators" class="carousel slide" style="height: 68vh; top: 70px;" >
        <div class="carousel-indicators">
          <button style="background-color: rgb(0, 0, 255); height: 7px;" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button style="background-color: rgba(0, 26, 255, 0.986); height: 7px;" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
    <div class="carousel-inner" style="height: 100%;">
      <div class="carousel-item active" data-bs-interval="50000000000000000000000000"   style="position: relative;height: 100%;">
        <div class="container" style="height: 100%;" id="carouselExampleControls">
    <div class="row">
      <div class="col">
        <form style="padding-bottom:40px; ">
            <div style="text-align: center;">
                <img src="../img/login2.png" alt=""style="height: 50px; width: 50px">
                <label"><h2>Login</h2></label>
            </div>
         
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">PassWord</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Lembrar Password</label>
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>
          </form>      
      </div>
      <div class="col">
        <img src="../img/img14.jpg" alt="" style="border-radius: 6px;">
      </div>
    </div>
  </div>
      </div>






      <div class="carousel-item"  style="position: relative; height: 100%;">
    <div class="container" style="height: 100%;" id="carouselExampleControls">
    <div class="row">

      <div class="col">
        <form>
            <div style="text-align: center;">
                <img src="../img/login2.png" alt=""style="height: 50px; width: 50px">
                <label"><h2>Cadastro</h2></label>
            </div>
         
            <div class="row g-3" style=" padding-bottom: 5px;">
                <div class="col">
                  <input type="text" class="form-control" placeholder="Nome" aria-label="First name">
                </div>

                <div class="col">
                  <input type="text" class="form-control" placeholder="Apelido" aria-label="Last name">
                </div>
              </div>

              <div class="row g-3" style=" padding-bottom: 19px;">
                <div class="col">
                  <input type="email" class="form-control" placeholder="Email" id="inputEmail4">
                </div>
                <div class="col">
                  <input type="password" class="form-control" placeholder="PassWord" id="inputPassword4">
                </div>
              </div>

              <div class="row g-3" style=" padding-bottom: 19px;">
                <div class="col">
                  <input type="tel" class="form-control" placeholder="Telefone">
                </div>
                <div class="col">
                    <select id="inputState" class="form-select">
                        <option selected>Sexo</option>
                        <option>Masculino</option>
                        <option>Femenino</option>
                      </select>
                </div>
                
              </div>
             <div class="col" style="padding-bottom: 19px;">
                    <label for="date" class="form-label">Data de Nascimento</label>
                    <input type="date" class="form-control" id="date">
                </div>
                  <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
              </form>
          </form>
          <div class="col">
            <img src="../img/img11.jpg" alt="" style="border-radius: 6px;">
          </div>
      </div>
    </div>
  </div>
      </div>
    </div>

  </div>











<footer>
  <div class="container">
    <div class="row">
      <div class="col">
        <ul>
          <a href=""><h3>Particular</h3> </a>
          <a href=""><li>Voz</li></a>
         <a href=""><li>SMS</li></a> 
        <a href=""><li>Plano  MAIS</li></a>  
         <a href=""><li>Rouming</li></a> 
         <a href=""><li>eSim</li></a> 
         <a href=""><li>Mais Smart</li></a>
          <a href=""><li>Apoio ao Cliente</li></a>
              
        </ul>
      </div>

      <div class="col">
        <ul>
          <a href=""><h3>Empresas</h3> </a>
          <a href=""><li>Tarifários</li></a>
          <a href=""><li>Apoio ao Cliente</li></a>
              
        </ul>
      </div>

      <div class="col">
        <ul>
          <a href=""><h3>Institucional</h3></a> 
         <a href=""><li>A unitel</li></a>
         <a href=""><li>Sustentabilidade</li></a>
         <a href=""><li>Carreiras</li></a>
         <a href=""><li>Notícias</li></a>
         <a href=""><li>Imprensa</li></a>
         <a href=""><li>Contactos</li></a>

       </ul>
      </div>

      <div class="col">
        <ul>
          <a href=""><h3>Netcasa</h3></a>
          <a href=""><li>Sobre</li></a>
          <a href=""><li>Planos</li></a>
          <a href=""><li>Equipamentos</li></a>
          <a href=""><li>Aderir</li></a>
          <a href=""><li>Instalação</li></a>
          <a href=""><li>Cobertura</li></a>
          <a href=""><li>Apoio ao Cliente</li></a>
              
        </ul>
      </div>

      <div class="col">                       
        <div class="fale-conosco">  
            <form class="form">
               <h2>Receba News Letter</h2>
               <div class="form-component">
                  <input type="email" class="newsletter-input" placeholder="Digite seu e-mail" required>
                  <button type="submit" class="newsletter-button">Enviar</button>
               </div>
             
            </form>
        </div>
      </div>

    </div>
  </div>

  <div class="container" style=" margin-top: 100px;">
    <hr>
    <div class="row">
      <div class="col">
          <div class="copyright" style= "text-align:left;">
            <span>&copy; 2023 PETROK. All rights reserverd  </span>   
          </div>
      </div>

      <div class="col">
        <div class="footericon" style="text-align: center;">
          <ul>
            <li><a href="https://www.facebook.com/BukaApp"><img src="../img/facebook.png" alt=""></a></li>
            <li><a href="https://www.instagram.com/buka.app/?hl=en"><img src="../img/instagram.png" alt=""></a></li>
            <li><a href=""><img src="../img/whatsapp.png" alt=""></a></li>
          </ul>  
        </div>
      </div>

          <div class="col">
            <div class="politica" style="text-align: end;">
              <a href=""><span>  Privacy Policy</span></a> 
            </div> 
      </div>
    </div>
  </div>



</footer>
<script src="../bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>