<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petrock Taxi</title>
    <link rel="icon" href="../img/logo.jpeg">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/index.css">
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg  navbar-dark" style="background-color: black;" >
            <div class="container-fluid">
              <a class="navbar-brand" href="index.html"><img src="../img/logo.png" alt="" style="height: 50px; width: 110px"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active " href="#">Serviços</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Notícias</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Sobre
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Localização</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Contactos</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Sobre Nós</a></li>
                    </ul>
                  </li>
    
                </ul>
               
            
                <div class="dropdown" style="right:10px;">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                     <img src="../img/user.png" alt="" style="height: 30px;">
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li ><a class="dropdown-item" href="">Perfil</a></li>
                    <li><a class="dropdown-item" href="user-page.html">Viajar</a></li> 
                   <li><a class="dropdown-item" href="#">Histórico</a></li> 
                     <li><a class="dropdown-item" href="#">Definições</a></li>    
                     <li><a class="dropdown-item" href="index.html">Sair</a></li>    
                  </ul>
                </div>

             
                
              </div>
            </div>
          </nav>

    </header>

      <div class="container" style="padding-top: 100px;">
  <div class="row">
    <div class="col" style="padding-top: 50px; width: 5px;">
      <form style="padding-bottom:40px; ">
          <div style="text-align: center;">
              <label"><h2>Peça uma corrida</h2></label>
          </div>
       
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Ponto de Partida</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">          
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Ponto de chegada</label>
            <input type="text" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
                 <button type="submit" class="btn btn-primary">Procurar</button>
          </div>
     
        </form>      
    </div>


    <div class="col">
      <div class="mapBox">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d782.0968029714468!2d13.182989244163686!3d-8.924012197937168!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-PT!2sao!4v1695403586162!5m2!1spt-PT!2sao" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>

    
  </div>
</div>


  




    
    <footer>
     <div class="container">
      <div class="row">
        <div class="col">
          <ul>
            <a href=""><h3>Particular</h3> </a>
            <a href=""><li>Delivery</li></a>
           <a href=""><li>Viagens</li></a> 
          <a href=""><li>Profissionais</li></a>  
            <a href=""><li>Apoio ao Cliente</li></a>
                
          </ul>
        </div>
  
        <div class="col">
          <ul>
            <a href=""><h3>Empresas</h3> </a>
            <a href=""><li>Serviços</li></a>
            <a href=""><li>Contratos</li></a>
                
          </ul>
        </div>
  
        <div class="col">
          <ul>
            <a href=""><h3>Institucional</h3></a> 
           <a href=""><li>A petrock</li></a>
           <a href=""><li>Sustentabilidade</li></a>
           <a href=""><li>Carreiras</li></a>
           <a href=""><li>Notícias</li></a>
           <a href=""><li>Imprensa</li></a>
           <a href=""><li>Contactos</li></a>
  
         </ul>
        </div>
  
        <div class="col">
          <ul>
            <a href=""><h3>Sobre</h3></a>
            <a href=""><li>Sobre nós</li></a>
            <a href=""><li>Atuação</li></a>
            <a href=""><li>Equipamentos</li></a>
            <a href=""><li>Aderir</li></a>
            <a href=""><li>Instalação</li></a>
            <a href=""><li>Cobertura</li></a>        
          </ul>
        </div>
  
        <div class="col">                       
          <div class="fale-conosco">  
              <form class="form">
                 <h2>Receba News Letter</h2>
                 <div class="form-component">
                    <input type="email" class="newsletter-input" placeholder="Digite seu e-mail" required>
                    <button type="submit" class="newsletter-button">Enviar</button>
                 </div>
               
              </form>
          </div>
        </div>
  
      </div>
    </div>
  
    <div class="container" style=" margin-top: 100px;">
      <hr>
      <div class="row">
        <div class="col">
            <div class="copyright" style= "text-align:left;">
              <span>&copy; 2023 PETROK. All rights reserverd  </span>   
            </div>
        </div>
  
        <div class="col">
          <div class="footericon" style="text-align: center;">
            <ul>
              <li><a href="https://www.facebook.com/BukaApp"><img src="../img/facebook.png" alt=""></a></li>
              <li><a href="https://www.instagram.com/buka.app/?hl=en"><img src="../img/instagram.png" alt=""></a></li>
              <li><a href=""><img src="../img/whatsapp.png" alt=""></a></li>
            </ul>  
          </div>
        </div>
  
            <div class="col">
              <div class="politica" style="text-align: end;">
                <a href=""><span>  Privacy Policy</span></a> 
              </div> 
        </div>
      </div>
    </div>
  
  
  
  </footer>
    
  
  
  <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
  </html>